{% extends 'index.html' %}

{% block contacto %}
    

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contacto</title>
</head>
<body>
    <div>
        make_list
        <h1> {% for Contacto in contacto %}
             {{Contacto.sucursal}} 
             {{Contacto.telefono}}
             {{Contacto.email}}
          
        {% endfor %} </h1>
    </div>
</body>
</html>
{% endblock %}